.for-size{
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 14px;
}
.for-txt{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}