//@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
.platformSpan {
    color: #D8AAF8;
  }
  .mainContainer {
    height: 100vh;
    background-color: black;
    background-image: url("../assets/bg-images/platform-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    h1{
    font-family: 'poppins' !important;
  }
  p{
    font-family: 'Hind Vadodara', sans-serif;
  }
  }

.frameContainer{
  position: absolute;
  left: 50%;
  margin-top: auto;
  transform: translateX(-50%);
  z-index: 6;
  

}


  //***********Slider css starts ************
.mobileFrame {
  position: relative;
  width: 13.5rem;
  height: 26rem;
  opacity: 1;
  z-index: 50 !important;
}
  .slider-rotate__arrow i {
    font-size: 46px;
  }
  .position {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    font-size: 30px;
    display: none;
  }
  .slider-rotate {
    margin: 0 auto;
    //background-color: #000000;
  }
  .slider-rotate__container {
    margin: 0 auto;
  }
  #slider-2 {
    margin: 50px 0;
    background: #FFFFFF;
  }
  /* --                       PLUGIN                      -- */
  .slider-rotate__container {
    position: relative;
    width: 960px;
    height: 500px;
    visibility: hidden;
  }
  /*  --              ITEMS DISPLAY                     --*/
  .slider-rotate__item {
    position: absolute;
    left: 50%;
    top: 40%;
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.7);
    -moz-transform: translateY(-50%) translateX(-50%) scale(0.7);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0.7);
    -o-transform: translateY(-50%) translateX(-50%) scale(0.7);
    transform: translateY(-50%) translateX(-50%) scale(0.7);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .slider-rotate__item.slider-rotate__item--next {
    left: 74%;
  }
  .slider-rotate__item.slider-rotate__item--prev {
    left: 26%;
  }
  .slider-rotate__item.slider-rotate__item--prev,
  .slider-rotate__item.slider-rotate__item--next {
    opacity: 0.5;
    z-index: 2;
  }
  .slider-rotate__item.slider-rotate__item--next-2 {
    left: 95%;
  }
  .slider-rotate__item.slider-rotate__item--prev-2 {
    left: 5%;
  }
  .slider-rotate__item.slider-rotate__item--next-2,
  .slider-rotate__item.slider-rotate__item--prev-2 {
    opacity: 0.5;
    z-index: 2;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.7);
    -moz-transform: translateY(-50%) translateX(-50%) scale(0.7);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0.7);
    -o-transform: translateY(-50%) translateX(-50%) scale(0.7);
    transform: translateY(-50%) translateX(-50%) scale(0.7);
  }
  .slider-rotate__item.slider-rotate__item--active {
    z-index: 2;
    opacity: 1;
    z-index: 5;
    top:42%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(.85,.82);
    -moz-transform: translateY(-50%) translateX(-50%) scale(.85,.82);
    -ms-transform: translateY(-50%) translateX(-50%) scale(.85,.82);
    -o-transform: translateY(-50%) translateX(-50%) scale(.85,.82);
    transform: translateY(-50%) translateX(-50%) scale(.85,.82);
  }
  /*  --                    ARROWS                      --*/
  .slider-rotate__container .slider-rotate__arrow {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #00000000;
    position: absolute;
    top: 40%;
    margin-top: -30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
    display: none;
  }
 
  .slider-rotate__container .slider-rotate__arrow:hover {
    background: #0400ff00;
  }
  .slider-rotate__container .slider-rotate__arrow:hover i {
    color: #ffffff;
  
  }
  .slider-rotate__container .slider-rotate__arrow.slider-rotate__arrow--left {
    left: 0;
    z-index: 2;
  }
  .slider-rotate__container .slider-rotate__arrow.slider-rotate__arrow--right {
    right: 0;
    z-index: 2;
  
  }

  @media screen and (min-device-width: 900px) and (max-device-width: 1000px){
    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 70%;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: 30%;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      left: 88%;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
      left: 12%;
    }

  }

  @media screen and (max-device-width: 980px){

    .slider-rotate__container {
      position: relative;
      width: 760px;
      height: 500px;
      visibility: hidden;
    }

    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 75%;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: 25%;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      left: 98%;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
      left: 2%;
    }

  }

  @media screen and (max-device-width: 780px){

    .slider-rotate__container {
      position: relative;
      width: 560px;
      height: 500px;
      visibility: hidden;
    }

    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 85%;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: 15%;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      left: 117%;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
      left: -17%;
    }

  }


  @media screen and (max-device-width: 576px){

    .slider-rotate__container {
      position: relative;
      width: 460px;
      height: 500px;
      visibility: hidden;
    }

    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 93%;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: 7%;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      left: 127%;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
      left: -27%;
    }

  }

  @media screen and (max-device-width: 480px){

    .slider-rotate__container {
      position: relative;
      width: 360px;
      height: 500px;
      visibility: hidden;
    }

    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 105%;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: -5%;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      opacity: 0;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
     opacity: 0;
    }

  }



  @media screen and (max-device-width: 420px){

    .slider-rotate__container {
      position: relative;
      width: 260px;
      height: 500px;
      visibility: hidden;
    }

    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 100%;
      opacity: 0;
      z-index: 3;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: -0%;
      opacity: 0;
      z-index: 3;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      left: 137%;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
      left: -47%;
    }

    .slider-rotate__container .slider-rotate__arrow {
      display: block;

      margin-left: -30%;
      left: 120%;
    }

  }

  @media screen and (max-device-width: 352px){

    .slider-rotate__container {
      position: relative;
      width: 200px;
      height: 500px;
      visibility: hidden;
    }

    .slider-rotate__item.slider-rotate__item--active {
      z-index: 5;
      top:42%;
      left: 50%;
    }

    .slider-rotate__item.slider-rotate__item--next {
      left: 100%;
      opacity: 0;
      z-index: 3;
    }
    .slider-rotate__item.slider-rotate__item--prev {
      left: -0%;
      opacity: 0;
      z-index: 3;
    }
    .slider-rotate__item.slider-rotate__item--next-2 {
      left: 137%;
    }
    .slider-rotate__item.slider-rotate__item--prev-2 {
      left: -47%;
    }

    .slider-rotate__container .slider-rotate__arrow {
      display: block;

      margin-left: -38%;
      left: 125%;
    }

  }

 