@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: AllRound;
  src: url(./fonts/All-Round-Gothic-Book.ttf);
}
@font-face {
  font-family: AllRound1;
  src: url(./fonts/All-Round-Gothic-Bold.ttf);
}

@import './sass/scroll';
@import './sass/navigation';
@import './sass/footer';
@import './sass/hero';
@import './sass/platform';
@import './sass/bcomecreator';
@import './sass/whylof';
@import './sass/faq';
@import './sass/privacy';
@import './sass/riskPolicy';
@import './sass/termAndConditions';
@import './sass/headinganimation';
@import './sass/smoke'
